{% extends "base.html" %}
{% block title %}Add Patients{% endblock %}
{%block header%}

{%endblock%}
{% block content %}
<h3 align="center">Patient Management</h3>
<br/>
<br/>
<h4>Current Patients</h4>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" width="15%" align="center">User Id</th>
            <th scope="col" width="30%" align="center">First Name</th>
            <th scope="col" width="30%" align="center">Last Name</th>
            <th scope="col" width="25%" align="center">Remove Patient</th>
        </tr>
    </thead>
        <tbody>
        {%for patient in user.patients%}
            <tr>
                <th scope="row">{{patient.id}}</th>
                <td>{{patient.first_name}}</td>
                <td>{{patient.last_name}}</td>
                <td align="center">
                    <div align="center">
                        <button type="button" class="close" onClick="removePatient({{ patient.id }})">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </td>
            </tr>
        {%endfor%}
        </tbody>
</table>
<br/>
<h4 align="center">Add A New Patient</h4>
<h4>All Patients</h4>
<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width="15%" align="center">User Id</th>
                <th scope="col" width="35%" align="center">First Name</th>
                <th scope="col" width="35%" align="center">Last Name</th>
                <th scope="col" width="15%" align="center" >Add Patient</th>
            </tr>
        </thead>
{%for user in all_users%}
  <tbody>
  {%if user.roles[0].patient%}
    <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>
            <div align="center">
                <button type="button" class="btn button-secondary" onClick="addPatient({{ user.id }})">
                <span>Add</span>
                </button>
            </div>
        </td>
    </tr>
  {%endif%}
{%endfor%}
  </tbody>
</table>
{%endblock%}