{% extends "base.html" %}
{% block title %}Blood Pressure{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Blood Pressure</h3>
    <h4>Add New Measurement</h4>
    <div class="form-group">
        <div class="col"></div>
        <div class="row">
              <div class="col">
                <label for="systolic">Systolic Pressure <small><i>(the top number)</i></small></label>
                <input type="number"
                       class="form-control"
                       id="systolic"
                       name="systolic"
                       placeholder="120"
                       min="0"
                       max="300"
                />
              </div>
            <div class="col">
                <label for="diastolic">Diastolic Pressure <small><i>(the bottom number)</i></small></label>
                <input type="number"
                       class="form-control"
                       id="diastolic"
                       name="diastolic"
                       placeholder="70"
                       min="0"
                       max="300"
                />
              </div>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<h4>Measurements</h4>
<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width="30%" align="center">Date</th>
                <th scope="col" width="30%" align="center">Systolic Reading</th>
                <th scope="col" width="30%" align="center">Diastolic Reading</th>
                <th scope="col" width="10%" align="center" >Delete</th>
            </tr>
        </thead>
        {%for measurement in user.bp%}
        <tbody>
            <tr>
                <th scope="row">{{measurement.date}}</th>
                <td>{{measurement.systolic}}</td>
                <td>{{measurement.diastolic}}</td>
                <td>
                    <div align="center">
                        <button type="button" class="close" onClick="deleteBP({{ measurement.id }})">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</table>
{%endblock%}