{% extends "base.html" %}
{% block title %}Doctor Portal{% endblock %}
{% block content %}
<br/>
<h3>Doctor Portal</h3>
<br/>
<h4 align="center">Add or Remove Patient</h4>
<br/>
<div class="container">
  <div class="row">
    <div align="center" class="col">
      <a class="btn btn-primary" href="/patient" role="button">Patient Management</a>
    </div>
  </div>
</div>
<br/>
<h4>Current Patients</h4>
{%for patient in patients%}
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" width="15%" align="center">User Id</th>
            <th scope="col" width="30%" align="center">First Name</th>
            <th scope="col" width="30%" align="center">Last Name</th>
            <th scope="col" width="25%" align="center">Date of Birth</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">{{patient.id}}</th>
                <td>{{patient.first_name}}</td>
                <td>{{patient.last_name}}</td>
                <td>{{patient.DOB}} </td>
                </td>
            </tr>
        </tbody>
</table>
<div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#height{{patient.id}}">Height and Weight</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#glucose{{patient.id}}">Glucose</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#temp{{patient.id}}">Temperature</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#bp{{patient.id}}">Blood Pressure</button>
</div>
{%if patient.weight%}
<div id="height{{patient.id}}" class="collapse">
    {%with measurement = user.weight[0]%}
    <div class="container">
      <div class="row row-cols-auto">
        <div class="col"><strong>Height/Weight:</strong></div>
        <div class="col">Height: </div>
        <div class="col">{{measurement.height_ft}}'{{measurement.height_in}}''</div>
        <div class="col">Weight: </div>
        <div class="col">{{measurement.weight}}</div>
        <div class="col">Date: </div>
        <div class="col">{{measurement.date}}</div>
      </div>
    </div>
    {%endwith%}
</div>
{%else%}
<div id="height{{patient.id}}" class="collapse">
    No Measurement.
</div>
{%endif%}
<br/>
{%if patient.glucose%}
<div id="glucose{{patient.id}}" class="collapse">
    {%with measurement = user.glucose[0]%}
    <div class="container">
      <div class="row row-cols-auto">
        <div class="col"><strong>Glucose: </strong></div>
        <div class="col">Glucose: </div>
        <div class="col">{{measurement.glucose}}</div>
        <div class="col">Date: </div>
        <div class="col">{{measurement.date}}</div>
      </div>
    </div>
    {%endwith%}
</div>
{%else%}
<div id="glucose{{patient.id}}" class="collapse">
    No Measurement.
</div>
{%endif%}
<br/>
{%if patient.temp%}
<div id="temp{{patient.id}}" class="collapse">
    {%with measurement = user.temp[0]%}
    <div class="container">
      <div class="row row-cols-auto">
        <div class="col"><strong>Temperature: </strong></div>
        <div class="col">Temperature: </div>
        <div class="col">{{measurement.temperature}}</div>
        <div class="col">Date: </div>
        <div class="col">{{measurement.date}}</div>
      </div>
    </div>
    {%endwith%}
</div>
{%else%}
<div id="temp{{patient.id}}" class="collapse">
    No Measurement.
</div>
{%endif%}
<br/>
{%if patient.bp%}
<div id="bp{{patient.id}}" class="collapse">
    {%with measurement = user.bp[0]%}
    <div class="container">
      <div class="row row-cols-auto">
        <div class="col"><strong>Blood Pressure: </strong></div>
        <div class="col">Blood Pressure: </div>
        <div class="col">{{measurement.systolic}}/{{measurement.diastolic}}</div>
        <div class="col">Date: </div>
        <div class="col">{{measurement.date}}</div>
      </div>
    </div>
    {%endwith%}
</div>
{%else%}
<div id="bp{{patient.id}}" class="collapse">
    No Measurement.
</div>
{%endif%}
{%endfor%}
{%endblock%}