{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center" xmlns="http://www.w3.org/1999/html">Welcome, {{user.first_name}}.</h1>
<h3>My Information</h3>
<table class="table-responsive table-responsive-flush">
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="5%" align="center">#</th>
                    <th scope="col" width="60%" align="center">Note</th>
                    <th scope="col"width="30%" align="center">Date</th>
                    <th scope="col" width="5%" align="center" >Delete</th>
                </tr>
            </thead>
            {%for note in user.notes%}
            <tbody>
                <tr>
                    <th scope="row">{{note.id}}</th>
                    <td>{{note.data}}</td>
                    <td>{{note.date}}</td>
                    <td>
                        <div align="center">
                            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </table>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{%endblock%}